* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* a {
  text-decoration: none;
} */
header {
  background-image: url(img/slid_1.jpg);
  background-size: cover;
  position: relative;
  padding: 150px 0px;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header-main-img img {
  width: 100%;
  position: relative;
  opacity: 0.1;
}
.header-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-text {
  max-width: 580px;
  width: 100%;
}
.header-text h1 {
  font-size: 42px;
  color: #444;
  margin-bottom: 30px;
}
.header-span {
  color: #37a000;
}
.header-text h3 {
  font-size: 17px;
  color: #444;
}
.header-btns {
  margin-top: 30px;
}
.header-btn {
  padding: 9px 16px;
  background-color: #37a000;
  border: 1px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
.header-btn-one {
  margin-left: 15px;
  padding: 10px 12px;
  color: #212529;
  font-weight: 600;
  background-color: white;
  border: 1px;
  cursor: pointer;
}
.header-imgs img {
  max-width: 85%;
  padding-left: 75px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
.slide-right {
  padding: 5px;
  width: 29px;
  height: 40px;

  position: absolute;
  right: 60px;
  top: 10px;

  color: white;
  background-color: #37a000;
  text-align: center;
  line-height: 31px;
  cursor: pointer;
}
.slide-left {
  padding: 5px;
  width: 29px;
  height: 40px;
  cursor: pointer;
  color: white;
  position: absolute;
  left: 60px;
  top: 10px;

  background-color: #37a000;
  text-align: center;
  line-height: 31px;
}
.slider-div {
  width: 100%;
  position: relative;
}
.items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.items-img {
  width: 20%;
  display: flex;
  padding: 10px;
  padding-left: 10px;
  border-left: 1px solid #cccccc;
}

.items-img img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 10px;
}
.items-text {
  margin-left: 10px;
}
.items-text > h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #444;
  margin-bottom: 5px;
}
.items-text > span {
  font-size: 0.8rem;
  color: #aba9a9;
}
.platform-sect {
  padding: 50px 0px;
}
.platformsect-info {
  display: flex;
}
.platform-text {
  margin-left: 50px;
  padding-top: 55px;
}
.platform-text h2 {
  font-size: 2.6rem;
  margin-bottom: 20px;
  color: #959393;
}
.platform-text b {
  color: #5c5353;
}
.platform-text p {
  font-size: 15px;
  max-width: 400px;
  color: #9c9c9c;
  line-height: 20px;
}
.platfomr-btn {
  margin-top: 20px;
}
.btn-findout {
  margin-right: 20px;
  font-weight: 800;
  color: #fff;
  background-color: #37a000;
  border-color: #37a000;
  border: 1px solid transparent;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.btn-team {
  padding: 8px 12px;
  color: #fff;
  border: 1px solid transparent;
  border-color: #37a000;
  background-color: #fff;
  color: #28a745;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
}
.btn-team:hover {
  background-color: #28a745;
  color: #fff;
}
