@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}

.fixHeader {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.formValidation {
  display: flex;
  height: 31px;
  margin-right: 50px;
}
.fixHeader > h2 {
  font-size: 25px;
  user-select: none;
}
.logoSpan {
  color: #37a000;
}
.localFormOne input {
  width: 230px;
  height: 32px;
  border: 1px solid rgb(167 167 167 / 41%);
  background-color: #dedede1c;
  color: #434343;
  border-right: none;
  outline: none;
  padding: 5px 25px;
  position: relative;
}
.localForm input {
  width: 230px;
  height: 32px;
  border: 1px solid rgb(167 167 167 / 41%);
  background-color: #dedede1c;
  color: #434343;
  border-right: none;
  outline: none;
  padding: 1px 6px;
  position: relative;
  padding-right: 33px;
}
.lastLocalForm > input {
  width: 480px;
  height: 32px;
  border: 1px solid rgb(167 167 167 / 41%);
  background-color: #dedede1c;
  color: #434343;
  outline: none;
  padding: 5px 10px;
  padding-right: 40px;
}
.icon {
  position: absolute;
  top: 6px;
  margin-left: 6px;
  color: gray;
}
.iconThree {
  position: absolute;
  top: 5px;
  margin-left: 201px;
  color: gray;
  font-size: 21px;
}
.iconLast {
  position: absolute;
  top: 1px;
  right: 0;
  color: #fff;
  font-size: 20px;
  padding-top: 5px;
  text-align: center;
}
.lastLocalForm > span {
  background-color: green;
  width: 35px;
  height: 30px;
}
.LSBtn {
  width: 115px;
  height: 30px;
  background: #37a000bf;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 5px 5px;
  margin-right: 15px;
  border-radius: 6px;
}
.postBtn {
  width: 95px;
  height: 30px;
  background: #fff;
  border: 1px solid #d6d6d6;
  box-shadow: 0px 1px 4px 0px;
  outline: none;
  cursor: pointer;
  color: #5c5a5a;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 5px;
  border-radius: 6px;
}
.header {
  background-image: url(img/slid_1.jpg);
  background-size: cover;
  position: relative;
  padding: 150px 0px;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header-main-img img {
  width: 100%;
  position: relative;
  opacity: 0.1;
}
.header-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-text {
  max-width: 580px;
  width: 100%;
}
.header-text h1 {
  font-size: 42px;
  color: #444;
  margin-bottom: 30px;
}
.header-span {
  color: #37a000;
}
.header-text h3 {
  font-size: 17px;
  color: #444;
}
.header-btns {
  margin-top: 30px;
}
.header-btn {
  padding: 9px 16px;
  background-color: #37a000;
  border: 1px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
.header-btn-one {
  margin-left: 15px;
  padding: 10px 12px;
  color: #212529;
  font-weight: 600;
  background-color: white;
  border: 1px;
  cursor: pointer;
}
.header-imgs img {
  max-width: 85%;
  padding-left: 75px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 10px;
}
.slide-right {
  padding: 5px;
  width: 29px;
  height: 40px;

  position: absolute;
  right: 60px;
  top: 10px;

  color: white;
  background-color: #37a000;
  text-align: center;
  line-height: 31px;
  cursor: pointer;
}
.slide-left {
  padding: 5px;
  width: 29px;
  height: 40px;
  cursor: pointer;
  color: white;
  position: absolute;
  left: 60px;
  top: 10px;

  background-color: #37a000;
  text-align: center;
  line-height: 31px;
}
.slider-div {
  width: 100%;
  position: relative;
  padding: 0px 10px;
}
.items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.items-img {
  width: 20%;
  display: flex;
  padding: 10px;
  padding-left: 10px;
  border-left: 1px solid #cccccc;
}

.items-img img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 10px;
}
.items-text {
  margin-left: 10px;
}
.items-text > h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #444;
  margin-bottom: 5px;
}
.items-text > span {
  font-size: 0.8rem;
  color: #aba9a9;
}
.platform-sect {
  padding: 50px 10px;
}
.platformsect-info {
  display: flex;
}
.platform-text {
  margin-left: 50px;
  padding-top: 55px;
}
.platform-text h2 {
  font-size: 2.6rem;
  margin-bottom: 20px;
  color: #959393;
}
.platform-text b {
  color: #5c5353;
}
.platform-text p {
  font-size: 15px;
  max-width: 400px;
  color: #9c9c9c;
  line-height: 20px;
}
.platfomr-btn {
  margin-top: 20px;
}
.btn-findout {
  margin-right: 20px;
  font-weight: 800;
  color: #fff;
  background-color: #37a000;
  border-color: #37a000;
  border: 1px solid transparent;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.btn-team {
  padding: 6px 12px;
  color: #fff;
  border: 1px solid transparent;
  border-color: #37a000;
  background-color: #fff;
  color: #28a745;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
}
.btn-team:hover {
  background-color: #28a745;
  color: #fff;
}
.welcome-sect {
  background-color: #e4e4e4ad;
  padding: 60px 0px;
  text-align: center;
}
.welcomesect-title h2 {
  font-size: 27px;
  font-weight: 700;
  color: #6a6a6a;
  margin-bottom: 5px;
}
.welcomesect-title p {
  font-size: 15px;
  font-weight: 500;
  color: #6a6a6a;
}
.welcomesect-items {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.category {
  display: inline-block;
  background-color: #fff;
  padding: 27px 13px;
  width: 170px;
  height: 174px;
  position: relative;
}
.category img {
  margin-bottom: 5px;
}
.category h3 {
  margin-bottom: 5px;
  font-size: 16px;
  color: #6a6a6a;
}
.category span {
  font-size: 14px;
  color: #6a6a6a;
}
.category-hover button {
  background-color: #37a000;
  border: 1px solid #37a000;
  color: #fff;
  padding: 1px 5px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  margin-top: 7px;
}
.category-hover {
  display: none;
}
.categories-lasttext {
  font-size: 15px;
  font-weight: 600;
  color: #6a6a6a;
}
.categories-lasttext a {
  color: #37a000;
  margin-left: 5px;
}
.categories-lasttext a:hover {
  border-bottom: 1px solid #37a000;
}
.sectionAds {
  padding: 100px 5px;
  background-color: #f8f8f8;
}
.sectionAds-title {
  display: block;
  text-align: center;
}
.sectionAds-title h1 {
  color: #5d5a5a;
  font-size: 25px;
  margin-bottom: 7px;
}
.sectionAds-title h3 {
  font-size: 16px;
  color: gray;
  font-family: emoji;
}
.item {
  background-color: #fff;
}
.item > img {
  width: 264px;
  height: 187px;
  display: block;
  cursor: pointer;
}
.item-user > img {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  bottom: 20px;
  left: 5px;
  border: 3px solid #fff;
  cursor: pointer;
}
.sectionAds-item {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.item-user {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  height: 40px;
}
.itemIcon {
  display: flex;
  align-items: center;
  background: #0e900e;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  padding: 1px 3px;
}
.price-name-date > h4 {
  font-size: 18px;
  color: #343434;
  font-family: -webkit-body;
  margin-bottom: 3px;
}
.price-name-date h3 {
  font-size: 18px;
  color: #555454;
  font-family: none;
  margin-bottom: 8px;
}
.techDiv {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.techDiv > ion-icon {
  color: #29ccff;
}
.tech {
  margin-left: 11px;
  color: #29ccff;
  cursor: pointer;
}
.date {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #6a6868;
  font-size: 17px;
}
.date > ion-icon {
  margin-right: 10px;
}
.item-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 7px;
  border-top: 1px solid #e0e0e0cf;
}
.locationIcon {
  color: green;
  font-size: 18px;
}
.localWorld {
  font-size: 16px;
  color: #808080d9;
  margin-left: 8px;
}
.heart-icon {
  color: red;
  font-size: 20px;
}
.price-name-date {
  padding: 0px 10px;
}
.local-name {
  display: inline-flex;
}
.verifClass {
  margin-left: 5px;
  cursor: pointer;
}
.featIcon {
  display: flex;
  align-items: center;
  background: #28a8bb;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  padding: 1px 3px;
}
.heart-icon :hover {
  color: #ff6969;
}
.bg-img {
  background: url(img/new_bg.webp);
  background-attachment: fixed;
  width: 100%;
}
.green-bg {
  background-color: rgb(40 167 69 / 72%);
}
.into-items {
  padding: 80px 0px;
}
.moreInfo {
  text-align: center;
}
.moreInfo > h1 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 24px;
}
.moreInfo h4 {
  font-size: 20px;
  color: #fff;
  font-family: cursive;
  margin-bottom: 65px;
}
.moreinfo-item {
  width: 100%;
}
.moreinfo-item {
  width: 33.3333%;
}
.moreinfo-item h1 {
  color: #fff;
  font-size: 27px;
  margin-bottom: -7px;
  padding: 0px 58px;
}
.into-icon-txt {
  display: flex;
  align-items: center;
}
.into-icon {
  font-size: 50px;
  color: #fff;
  margin-right: 10px;
}
.into-icon-txt h4 {
  color: #fff;
  font-size: 15px;
}
.moreinfo-items {
  display: flex;
}
.into-padding {
  padding: 70px 0px;
}
.latest-product {
  background-color: #f8f8f8;
}
.latestprod-title {
  text-align: center;
  padding-bottom: 65px;
}

.latestprod-title h1 {
  font-size: 35px;
  color: #6a6a6a;
  margin-bottom: 11px;
  font-family: none;
}
.latestprod-title h4 {
  font-size: 17px;
  color: gray;
  font-family: emoji;
}
.lastItems > img {
  width: 264px;
  height: 187px;
}
.latestprod-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lastItems {
  width: 22.6%;
  margin-bottom: 30px;
}
.lastIntoPadding {
  padding: 15px 10px;
  background-color: #fff;
}
.lastItemsTitle {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.lastIcon {
  font-size: 16px;
  color: #00c4f8;
  margin-right: 7px;
}
.lastLocation {
  color: #808080d9;
}

.items-Title {
  color: gray;
  font-family: system-ui;
  font-size: 17px;
  margin-bottom: 15px;
}
.lastPriceHeart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lastPriceHeart h2 {
  font-size: 15px;
  color: #23d323;
}
.lastHeartIcon {
  color: red;
}
.lastHeartIcon > ion-icon {
  font-size: 20px;
}
.lastItems:hover {
  cursor: pointer;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.14);
  transition: 1.5ms ease;
}
.feedBack {
  background-image: url(img/map.webp);
  padding: 20px;
  background-size: 100%;
  background-color: rgb(20 20 20);
  /* height: 615px; */
}
.clientFeedback {
  text-align: center;
}
.clientFeedback h1 {
  color: #4f4f4f;
  font-family: initial;
  margin-bottom: 10px;
}
.clientFeedback h3 {
  font-size: 14px;
  color: #8e8989;
  margin-bottom: 60px;
}
.clientsTxt {
  width: 340px;
  height: 186px;
  background-color: #fff;
  line-height: 20px;
  padding: 42px 38px 35px 51px;
  font-size: 13px;
  margin-bottom: 35px;
  /* position: absolute; */
  border: 1px solid #ece4e4;
}
.clientsTxt h4 {
  color: #80808096;
}
.clientsIcon {
  background-color: #23b013;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  position: relative;
  bottom: 96px;
  right: 71px;
  color: #fff;
}

.triangle {
  width: 10px;
  height: 10px;
  border: 10px solid #23b013;
  border-top-color: transparent;
  border-left-color: transparent;
  position: relative;
  bottom: 163px;
  right: 70px;
}
.clientsWord {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.clientProfile {
  display: flex;
}
.members {
  display: flex;
  align-items: center;
  padding-right: 245px;
}
.members > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 3px;
}
.membersName {
  width: 108px;
}
.membersName h1 {
  font-size: 20px;
  color: #3b3b3b;
  font-weight: 400;
}
.membersName span {
  font-size: 13px;
  margin-left: 2px;
  color: #20c720;
}
.feedBackClickBtn {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}
.leftClick,
.rightClick {
  width: 12px;
  height: 12px;
  background-color: #008000c2;
  border-radius: 50%;
  margin-right: 10px;
}
.moreApp_bg {
  background-image: url(img/app_bg.webp);
}
.appInfo {
  padding: 38px 160px;
}
.appInfo h1 {
  text-align: center;
  font-size: 35px;
  font-family: cursive;
  color: #fff;
}
.appInfo p {
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin: 25px 0px;
  color: #fff;
  line-height: 25px;
}
.app-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 121px;
  gap: 25px;
}
.app-btn button {
  width: 220px;
  height: 43px;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  font-size: 17px;
  padding: 2px 10px;
}
.app-btn button ion-icon {
  color: #23d323;
}
.app-items {
  display: flex;
  justify-content: space-between;
}
.mobile-img img {
  width: 360px;
  height: 450px;
}
.mobile-img {
  position: relative;
  bottom: 70px;
}
.leftIcons {
  display: flex;
  align-items: center;
  width: 318px;
  padding-bottom: 35px;
}
.leftIcons > span {
  padding: 11px 14px;
  background: red;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  margin-right: 19px;
}
.iconsTxt h1 {
  font-size: 17px;
  font-weight: unset;
  color: #464040;
}
.iconsTxt span {
  font-weight: 200;
  color: #000000;
}
.leftIcon,
.rightIcon {
  padding: 90px 0px;
}
.leftIcons:last-child {
  padding-bottom: 0px;
}
.blueHeart {
  background-color: #38e0ff !important;
}
.yellowUSD {
  background-color: #e4e43c !important;
}
.rightIcons {
  display: flex;
  align-items: center;
  width: 318px;
  padding-bottom: 35px;
}
.rightIcons > span {
  padding: 11px 14px;
  background: red;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
}
.RGiconsTxt {
  text-align: right;
  margin-right: 19px;
}
.RGiconsTxt h1 {
  font-size: 17px;
  font-weight: unset;
  color: #464040;
}
.RGiconsTxt span {
  font-weight: 200;
  color: #000000;
}
.rightIcons:last-child {
  padding-bottom: 0px;
}
.blueMob {
  background-color: #38e0ff !important;
}
.greenGllr {
  background-color: #3de43d !important;
}
.lastClr {
  background-color: #701591c2 !important;
}
.last-bg {
  background-image: url(img/city-bg.webp);
}

.lastSectPadd {
  display: flex;
  padding: 84px 0px;
  width: 100%;
  align-items: center;
}
.txt-btn,
.offers {
  width: 50%;
}
.txt-btn h1 {
  font-size: 38px;
  font-family: math;
  color: #fff;
  margin-bottom: 10px;
}
.txt-btn p {
  color: #fff;
  line-height: 22px;
  margin-bottom: 20px;
}
.txt-btn button {
  width: 190px;
  height: 42px;
  color: black;
  font-weight: bold;
  border: 0;
  background-color: #ffb800;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
.txt-btn button:hover {
  background-color: #e1a710;
}
.square {
  width: 165px;
  height: 96px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 20px 0px;
}
.offers {
  display: flex;
  gap: 30px;
  padding-left: 30px;
}
.square h1 {
  font-size: 25px;
  margin-bottom: 5px;
  color: #575656;
  font-weight: 500;
}
.square span {
  font-size: 15px;
  color: gray;
  font-weight: bold;
}
.footerFirst {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
  border-bottom: 1px solid #80808038;
}
.footerIconTxt {
  display: flex;
  align-items: center;
  width: 247px;
}
.footerIcon {
  font-size: 28px;
  margin-right: 15px;
  color: #403737;
}

.footerTxt h1 {
  font-size: 18px;
  color: gray;
  font-weight: 500;
  margin-bottom: 7px;
}
.footerTxt span {
  font-size: 13px;
  color: gray;
}
.footerSecond {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}
.footerTitle h1,
.categoryTitle h1,
.businesTitle h1,
.businesTitleTwo h1,
.followTitle h1,
.subscribeTitle h1 {
  font-size: 20px;
  color: #646262;
  font-weight: 500;
  padding-bottom: 25px;
}
.localTxt {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-left: 5px;
  padding-bottom: 25px;
  width: 230px;
}
.localIcon {
  margin-right: 20px;
  font-size: 20px;
}
#localIcon {
  color: #6c6a6a;
}
.adres {
  font-size: 14px;
  color: #565050;
}
.categoryNav ul li,
.businesNav ul li {
  list-style: none;
  margin-bottom: 11px;
}
.categoryNav ul li a,
.businesNav ul li a {
  font-size: 14px;
  color: #565050;
}

.businesTitleTwo h1 {
  margin-top: 25px;
}
.onlyIcon {
  margin-left: 25px;
  color: gray;
  font-size: 20px;
  letter-spacing: 12px;
  padding-bottom: 25px;
}
#lastInput {
  width: 250px;
  height: 36px;
  font-size: 14px;
  padding: 0px 10px;
  outline: none;
  position: absolute;
  border: 1px solid #d6d6d6;
}
.footerForm {
  padding-bottom: 30px;
}
.lastTxt h3 {
  font-size: 15px;
  color: #646262;
  font-weight: 500;
  width: 295px;
}
.footerCategory,
.footerBusines {
  width: 185px;
}
.formIcon {
  font-size: 18px;
  background-color: #2bed2b;
  padding: 7.5px;
  position: relative;
  left: 249px;
  top: 0px;
  cursor: pointer;
}
.sentDiv {
  display: flex;
  align-items: center;
}

.formIcon ion-icon {
  width: 23px;
  height: 17px;
  color: #fff;
}
.localFormList {
  background-color: #fff;
  width: 400px;
  padding: 23px 15px;
  color: gray;
  border: 1px solid rgb(167 167 167 / 41%);
  border-top: 0;
}

#emptyDiv {
  display: none;
}

.lastLocalForm {
  position: relative;
}
#formList {
  background-color: rgb(247 244 244);
  padding: 1px 4px;
  padding-right: 23px;
  width: 100%;
  height: 32px;
  border-right: 1px solid rgb(167 167 167 / 41%);
}
#formList:focus {
  border: 1px solid #83c883;
}
.localFormList ul li {
  list-style: none;
}
.searchInfo ul li {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.formInput span {
  position: relative;
  right: -344px;
  top: -25px;
  font-size: 18px;
  cursor: pointer;
}
.localFormOne {
  width: 230px;
  position: relative;
}
.localForm {
  position: relative;
}
.ulNone {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  font-size: 14px;
  color: gray;
}
.ulNone ul li a {
  color: gray;
}
.searchInfo ul li a {
  color: gray;
  margin-right: auto;
  margin-left: 6px;
}
.twoNone {
  margin-right: 45px;
}
.searchNav {
  background-color: #fff;
  color: gray;
  border: 1px solid rgb(167 167 167 / 41%);
  border-top: 0;
  display: none;
}
.searchInfo {
  line-height: 34px;
  font-size: 14px;
}
.searchInfo ul li {
  border-bottom: 1px solid #d6d5d5;
  padding: 1px 8px;
  cursor: pointer;
}
.bottom-icon {
  margin-left: 82px;
}
.searchInfo ul li:hover {
  background-color: #51ff51;
}
.intoBtn span {
  background-color: #32bc32;
  padding: 2px 20px;
  font-size: 20px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: none;
}
.intoBtn {
  display: flex;
  align-items: center;
}
.HLeftNav {
  display: flex;
  justify-content: space-between;
}
.leftnavActive {
  right: 0 !important;
}
.abc {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.X {
  display: none;
  width: 100%;
  margin-top: 15px;
  text-align: center;
}
.hideX {
  cursor: pointer;
  font-size: 23px;
  padding-top: 4px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 50%;
  background-color: #31c331;
  color: #fff;
}
.xRel {
  position: relative;
  top: 1px;
}
